.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.card {
  padding: 3rem 20px;
  background-color: #fff;
  border-radius: 9px;
  height: 100%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.job_offers_list .col-md-4 {
  margin-bottom: 2.8rem;
}

.jobpass-content {
  background-color: #fff;
}
.jobpass-content a {
  text-decoration: none !important;
}

.justify-content-center {
  justify-content: center !important;
}
.container {
  /* width: 100%; */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  max-width: 100%;
}

.align-items-center {
  align-items: center !important;
}

.btn {
  border-radius: 8px;
  font-weight: 600;
  border-width: 3px;
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 rgba(207, 115, 115, 0),
    0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-top-width: 1px;
  border-right-color: transparent;
  border-right-width: 1px;
  border-bottom-color: transparent;
  border-bottom-width: 1px;
  border-left-color: transparent;
  border-left-width: 1px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a.btnJobPass {
  padding: 10px 20px !important;
  background-color: #0f0649 !important;
  color: #fff !important;
  text-decoration: none !important;
  border-radius: 8px !important;
  font-weight: 500 !important;
  border: 2px solid #0f0649 !important;
}
a.btnJobPass:hover {
  background-color: #7bc6e8 !important;
  border: 2px solid #7bc6e8 !important;
}
.jobpass-content h1 {
  font-size: 2.5rem !important;
  margin: 1rem 0 2rem;
  font-weight: 600;
}

.jobpass-content header {
  background-color: #eff9ff;
  padding: 6rem 0;
}

.text-center {
  text-align: center !important;
}
.justify-content-center {
  justify-content: center !important;
}

.jobpass-content {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }

  @media screen and (max-width: 767px) {
    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}

.search-input {
  width: 100%;
  min-height: 50px;
  padding: 10px;
  border: none;
  border-radius: 8px;
}
.search-input:focus,
.search-input:focus-visible {
  border: none;
  outline: none;
}

.jp_offer-metas {
  color: var(--text-color);
  display: flex;
  margin-left: 0;
  list-style: none;
  padding-left: 0;
  padding-inline-start: 0;
  flex-wrap: wrap;
}

.jp_offer-metas li {
  margin-left: 0;
  margin-right: 1.5rem;
  font-size: 1rem;
  margin-bottom: 10px;
}
.jp_offer-metas li i {
  margin-right: 2px;
}

.jp-search-input {
  margin-bottom: 0 !important;
  margin-right: 10px;
  width: 95%;
  padding: 15px !important;
  border-radius: 8px;
  border: none;
}

.job_offers_list {
  margin: 30px 0;
}
.toplevel_page_jobpass #wpcontent {
  padding-left: 0;
}
.toplevel_page_jobpass .wrap {
  margin: 20px;
  border-radius: 8px;
}

.jobpassDiv,
.jobpassIntroduction {
  max-width: 100%;
  padding: 20px;
}

.jobpassDiv {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  margin-bottom: 2rem;
}
.jobpassIntroduction {
  background: #eff9ff;
  border-radius: 8px;
  margin: 0 0 25px 0;
  font-size: 17px;
  line-height: 25px;
}
.jobpassDiv label {
  display: block;
  margin: 0 0 20px;
}
.jobpassDiv input {
  border: 1px solid #aaa;
  background: #f7f7f7;
}
.jp_error,
.jp_success {
  margin: 10px 0px;
  padding: 4px 20px;
  border: 1px solid transparent;
  border-left-width: 4px;
  max-width: 100%;
}
.jp_error p,
.jp_success p {
  margin: 3px 0;
  padding: 2px;
}
.jp_success {
  color: #7fc03f;
  background-color: #dff2bf;
  border-left-color: #7fc03f;
}
.jp_error {
  color: #c03f3f;
  background-color: #ffd2d2;
  border-left-color: #c03f3f;
}
.toplevel_page_jobpass h1 {
  color: #0f0649;
  font-weight: 700;
}
.clear_blue {
  color: #7bc6e8;
}

.row.jp_header {
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 30px;
  padding: 10px 20px;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 0.6rem 3rem rgba(15, 6, 73, 0.175);
}
.jp_header h1 {
  display: flex;
  align-items: center;
  font-weight: 700 !important;
  font-size: 1.5rem;
}

.jp_header h1 svg {
  margin-right: 30px;
}

.jobpassBtn {
  padding: 10px 20px !important;
  background-color: #0f0649 !important;
  color: #fff !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  border-radius: 8px !important;
  text-decoration: none !important;
}

.jobpassbtn:hover {
  background-color: #7bc6e8 !important;
  color: #fff !important !important;
  transition: 0.5s all !important;
  -webkit-transition: 0.5s all !important;
  -moz-transition: 0.5s all !important;
  -o-transition: 0.5s all !important;
}

.mr-5 {
  margin-right: 3rem;
  min-width: 300px;
  display: inline-flex;
}

.jp_logo-container {
  display: flex;
  align-items: center;
}
.jp_logo-container svg {
  margin-right: 30px;
}

.jp_intro {
  background-color: #eff9ff;
}
.jp_intro h2 {
  color: #0f0649;
  line-height: 1.5;
}

.jp_intro ul {
  font-size: 16px;
}
.jp_intro li {
  margin-bottom: 10px;
}

.jp_intro .fa-li {
  width: unset;
  font-size: 18px;
  color: #0f0649;
}

.job_offers_list {
  justify-content: center;
}

.JpOfferContent {
  display: flex;
  justify-content: center;
}

.JpShare {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.JpShare li {
  font-weight: 700;

  margin: 0 20px;
}
